[Unit]
Description=#weather forecast broadcast at 6:05am and 1pm Eastern

[Timer]
OnCalendar=*-*-* 06:05:00 America/New_York
OnCalendar=*-*-* 13:00:00 America/New_York
RandomizedDelaySec=120
Persistent=false

[Install]
WantedBy=timers.target