[Unit]
Description=Hourly #weather forecast broadcast

[Timer]
OnCalendar=hourly
RandomizedDelaySec=120
Persistent=false

[Install]
WantedBy=timers.target
