[Unit]
Description=#weather forecast broadcast every 4 hours

[Timer]
OnCalendar=00/4:00
RandomizedDelaySec=120
Persistent=false

[Install]
WantedBy=timers.target
